/*
Feuille de style css
Par Dumbo Marie
 */

*
{
  font-family: Didot;
  text-align: justify;
}


iframe
{
  width:100%;
  height: 320px;
  background-color: #E6B4B4;
  border: none;
}


footer
{
  column-count: 2;
  padding: 70px;
}

#logo
{
  display: inline-inline-block;
  margin: 50px;
}


#navigation
{
  display: inline-block;
  background-color: #E63131;
  list-style: none;
  padding-right: 50px;
  position: absolute;
  top: 50px;
  margin-left: 100px;
}


#navigation li
{
  background-color: #E63131;
  display: block;
  float: left;
  padding: 1.5rem;
  position: relative;
  transition-duration: 0.5s;
}


#navigation a
{
  text-decoration: none;
  color: #fff;
}


.dropdown
{
 visibility: hidden;
 position: absolute;
 display: none;
 padding-left: 0;
}


#navigation li:hover
{
  background-color: #B8A5A2;
}


.dropdown li {
 clear: both;
 width: 100%;
}


ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}


#bienvenue
{
  background-image: url("../images/giphy.gif");
  background-size: 100%;
  color: white;
}

h1
{
  padding: 5%;
}


h3
{
  color: #E63131;
}


#bienvenue p
{
  padding-left: 7%;
  padding-bottom: 5%;
  font-size: 20px;
}


#home
{
  column-count: 2;
  text-align: justify;
  margin: 2%;
  column-gap: 3%;
}


button
{
  margin: 2%;
  background-color: #E63131;
  color: white;
  border: #B8A5A2;
  padding: 1%;
  border-radius: 8px;
}

.despict
{
  columns: 2;
}

img
{
    margin: 2%;
}

form
{
  margin: 5%;
}
